.ejemploIconejz__contenedor {  
  --background-iconejz: #111;
  width: 270px;
  padding: 8px;
  border-radius: 2.8px;
  background-color: #111;
  display: inline-block;
  transition: height 0.25s linear;
}

.ejemploIconejz__carpeta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ejemploIconejz__carpeta--2 {
  transition: opacity 0.35s linear;
}

.ejemploIconejz__carpeta--2,
.ejemploIconejz__contenido {
  margin-left: 18px;
}

.ejemploIconejz__texto {
  color: #494949;
  margin: 0;
}

.ejemploIconejz__archivo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ejemploIconejz__archivo--contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ejemploIconejz__contenido,
.ejemploIconejz__contenido--2 {
  transition: opacity 0.25s linear;
}

.ejemploIconejz__contenido--2 {
  margin-left: 36px;
}

.ejemploIconejz__iconoFlecha {
  --size-iconejz: 20px;
  --color-iconejz: #525252;
  transition: transform 0.25s linear;
}

.ejemploIconejz__iconoCarpeta {
  --size-iconejz: 35px;
  --color-iconejz: #FFA900;
}

.ejemploIconejz__iconoArchivo {
  --size-iconejz: 35px;
}

.ejemploIconejz__iconoTVP {
  --size-iconejz: 18.5px;
  --color-iconejz: #525252;
}

.ejemploIconejz__carpeta--contenidoTransparente .ejemploIconejz__iconoCarpeta,
.ejemploIconejz__carpeta2--contenidoTransparente .ejemploIconejz__iconoCarpeta {
  --color-iconejz: #00FFDE;
}

.ejemploIconejz__carpeta--contenidoTransparente .ejemploIconejz__iconoFlecha,
.ejemploIconejz__carpeta2--contenidoTransparente .ejemploIconejz__iconoFlecha {
  transform: rotate(90deg);
}

.ejemploIconejz__carpeta--contenidoTransparente ~ .ejemploIconejz__carpeta--2,
.ejemploIconejz__carpeta--contenidoTransparente ~ .ejemploIconejz__contenido,
.ejemploIconejz__carpeta--contenidoTransparente ~ .ejemploIconejz__contenido--2,
.ejemploIconejz__carpeta2--contenidoTransparente ~ .ejemploIconejz__contenido--2 {
  opacity: 0;
}

.ejemploIconejz__carpeta--cerrada ~ .ejemploIconejz__carpeta--2,
.ejemploIconejz__carpeta--cerrada ~ .ejemploIconejz__contenido,
.ejemploIconejz__carpeta--cerrada ~ .ejemploIconejz__contenido--2, 
.ejemploIconejz__carpeta2--cerrada ~ .ejemploIconejz__contenido--2 {
  display: none;
} 