.section__lista + .section__texto {
  margin-top: 0;
}

.ejemploDescargar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.ejemploDescargar__texto {
  color: var(--color-blanco);
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1rem;
  display: inline-block;
  position: relative;
  text-indent: 0;
  font-family: monospace;
  border-radius: 0.2rem;
  background-color: #000;
}

.ejemploDescargar__icono {
  --size-iconejz: 3rem;
  --border-radius-iconejz: 0.2rem;
  margin-bottom: 0.5rem;
}

.ejemploDescargar__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  user-select: none;
}

@media screen and (max-width: 560px) {

  .ejemploDescargar__texto {
    font-size: 1.5rem;
  }
  
}

@media screen and (max-width: 500px) {
 
  .ejemploDescargar__texto {
    font-size: 1.38rem;
  }
  
}