@import url('./../js/alertMensaje/alertMensaje.css');
@import url('./Insertadores/insertadores.css');
@import url('./ejemplos/ejemploJavascript.css');
@import url('./cardsIconos/cardsIconos.css');

.textoAtajo {
  margin: 0;
  margin-bottom: 20px;
}

.section--iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.ejemplo__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  position: relative;
}

.ejemplo__iconoCopy {
  --size-iconejz: 26px;
  --color-iconejz: #29FFAA;
  --border-radius-iconejz: 2px;
  margin-left: 6.5px;
}

.ejemplo__input {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  user-select: none; 
  z-index: -1;
  background-color: transparent;
}

.ejemplo__iconoPlay {
  margin-left: 25px;
}

.ejemploIconos__contenedor {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  
  .card {
    width: 100%;
    --size-iconejz: 40px;
  }
  
  .card:last-child {
    margin-bottom: 0;
  }

  .card__contenido {
    grid-template-columns: 1fr 3.5fr 1fr 1fr;
  }
  
}

@media screen and (max-width: 620px) {
  
  .contentCode {
    padding: 10px;
    font-size: 13px;
  }
  
  .contentElement {
    font-size: 13.5px;
  }
  
  .card__subtitulo {
    font-size: 16.8px;
  }
  
}

@media screen and (max-width: 580px) {
  
  .contentCode {
    font-size: 12px;
  }

}

@media screen and (max-width: 540px) {
  
  .contentCode {
    font-size: 10.5px;
  }

}

@media screen and (max-width: 470px) {
  
  .contentCode {
    font-size: 9.5px;
  }

}

@media screen and (max-width: 400px) {
  
  .card__contenido {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
  }

}