:root{
  --textBackground: rgba(255, 255, 255, 0.15);
  --pseudoClases: rgba(113, 0, 242, 0.2);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection{
  background-color: #A4A4A4;
}

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D0D0D;
  position: relative;
  overflow: hidden;
}

.contentTitulo{
  width: 380px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(1.5px);
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.titulo{
  color: #E3E3E3;
  margin: 0;
  margin-top: 15%;
  font-size: 3.8rem;
  font-weight: 400;
  font-style: italic;
}

.contentText{
  position: relative;
}

.contentEnlaces{
  color: #E3E3E3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enlace{
  width: 100%;
  padding: 12.5px 0;
  color: #D2D2D2;
  font-weight: 450;
  text-align: center;
  text-decoration: none;
}

.enlace:nth-of-type(2){
  border-left: 2.5px solid rgba(210, 210, 210, 0.05);
}

.enlace:hover{
  font-style: italic;
  border: none;
  background-color: rgba(38, 38, 38, 0.45);
  transition: all 0.8s linear;
}

.enlace:hover + .enlace{
  border-left: none;
}

.textBackground{
  color: var(--textBackground);
  margin: 0;
  font-size: 19px;
  position: absolute;
  font-family: monospace;
  user-select: none;
}

.textBackground:nth-of-type(1n){
  animation: opacidad 1s linear infinite alternate;
}

.textBackground:nth-of-type(2n){
  animation: opacidad 1.5s linear infinite alternate;
}

@keyframes opacidad{
  
  from{
    filter: opacity(1);
  }
  
  to{
    filter: opacity(0.5);
  }
  
}

.name1,
.name2,
.name3,
.name4{
  color: rgba(255, 255, 255, 0.33);
}

/* JAZA_18 */
.name1{
  top: 12%;
  left: 10%;
}

/* Dayrre */
.name2{
  top: 18%;
  right: 10%;
}

/* Le-Mark */
.name3{
  bottom: 28%;
  left: 18%;
}

/* FR */
.name4{
  bottom: 24%;
  right: 22%;
}

/* clip-path */
.text1{
  top: 0%;
  left: -0.5%;
  transform: rotate(-10deg);
}

/* polygon() */
.text2{
  top: -1.28%;
  right: 40%;
  transform: rotate(20deg);
}

/* polygon() */
.text3{
  bottom: -1.28%;
  right: -2%;
  transform: rotate(20deg);
}

/* circle() */
.text4{
  bottom: 5%;
  left: 10.8%;
  transform: rotate(4deg);
}

/* width */
.text5{
  bottom: 34%;
  right: 10%;
  transform: rotate(15deg);
}

/* height */
.text6{
  top: 8%;
  left: 10.8%;
}

/* display */
.text7{
  bottom: 40%;
  left: 14%;
  transform: rotate(-15deg);
}

/* flex */
.text8{
  top: 14%;
  left: 2.8%;
  transform: rotate(10deg);
}

/* inline-block */
.text9{
  top: -2%;
  right: 2.5%;
}

/* inline-block */
.text10{
  bottom: -2%;
  right: 14%;
}

/* position */
.text11{
  top: 1%;
  left: 20%;
  transform: rotate(12deg);
}

/* relative */
.text12{
  left: 20%;
  bottom: 14%;
  transform: rotate(6deg);
}

/* absolute */
.text13{
  bottom: 7.5%;
  right: 22%;
  transform: rotate(-8deg);
}

/* top */
.text14{
  top: 0.8%;
  left: 40%;
}

/* right */
.text15{
  top: 28%;
  right: -1.5%;
  transform: rotate(-90deg);
}

/* bottom */
.text16{
  bottom: 0.8%;
  right: 35%;
}

/* left */
.text17{
  left: -1.5%;
  bottom: 28%;
  transform: rotate(90deg);
}

/* z-index */
.text18{
  bottom: 8%;
  right: 10%;
  transform: rotate(-8deg);
}

/* translate() */
.text19{
  bottom: 26%;
  left: 8%;
  transform: rotate(-4deg);
}

/* rotate() */
.text20{
  top: 15%;
  left: 20%;
  transform: rotate(-4deg);
}

/* background-color */
.text21{
  bottom: 4%;
  left: 22.5%;
  transform: rotate(-8deg);
}

/* transparent */
.text22{
  bottom: 0%;
  left: 40%;
  transform: rotate(-8.5deg);  
}

/* boder-radius */
.text23{
  top: 12%;
  right: -8%;
}

/* border-radius */
.text24{
  bottom: 15%;
  left: -8%;
}

/* jz-a-u */
.text25{
  top: 8%;
  left: 32.5%;
}

/* jz-a-rg */
.text26{
  bottom: 20%;
  right: -2%;
  transform: rotate(-90deg);
}

/* jz-a-d */
.text27{
  bottom: 18%;
  right: 52%;
  transform: rotate(15deg);
}

/* jz-a-lf */
.text28{
  top: 30%;
  left: -2%;
  transform: rotate(90deg);  
}

/* i-yt */
.text29{
  bottom: 34%;
  left: 6%;
}

/* i-ig */
.text30{
  bottom: 15.8%;
  left: 32.8%;
  transform: rotate(5deg);
}

/* i-m */
.text31{
  bottom: 26.5%;
  right: 35%;
}

/* jz-mg */
.text32{
  bottom: 20%;
  right: 6%;
}

/* jz-ck */
.text33{
  bottom: 15%;
  left: 12%;
  transform: rotate(-4deg);
}

/* jz-x */
.text34{
  bottom: 3.5%;
  left: 3%;
  transform: rotate(-4deg);
}

/* jz-tpv */
.text35{
  top: 8%;
  right: 10%;
  transform: rotate(-12deg);
}

/* jz-tph */
.text36{
  bottom: 25%;
  left: 25%;
  transform: rotate(8deg);
}

/* jz-lk */
.text37{
  top: 6%;
  right: 50%;
  transform: rotate(-40deg);
}

/* jz-lko */
.text38{
  top: 18%;
  left: 38%;
}

/* jz-sc */
.text39{
  bottom: 22%;
  right: 44%;
  transform: rotate(-15deg);
}

/* jz-lc */
.text40{
  top: 20%;
}

/* jz-us */
.text41{
  top: 22%;
  right: 38%;
}

/* jz-usn */
.text42{
  top: 25%;
  right: 28%;
  transform: rotate(-18deg);
}

/* jz-stt */
.text43{
  right: 25%;
  transform: rotate(20deg);
}

/* jz-shr */
.text44{
  bottom: 34%;
  right: 27.5%;
}

/* jz-hm */
.text45{
  top: 48.5%;
  left: 9.6%;
}

/* jz-str */
.text46{
  top: 34%;
  right: 24%;
}

/* jz-wng */
.text47{
  top: 36%;
  left: 25%;
  transform: rotate(-10deg);
}

/* jz-sms */
.text48{
  top: 45%;
  left: 20%;
}

/* jz-cam */
.text49{
  bottom: 40%;
  right: 18%;
  transform: rotate(-30deg);
}

/* jz-plus */
.text50{
  top: 26%;
  right: 18%;
  transform: rotate(25deg);
}

/* jz-minus */
.text51{
  top: 40%;
  right: 12%;
  transform: rotate(-8deg);
}

/* jz-dwl */
.text52{
  top: 22.5%;
  left: 28.5%;
}

/* jz-pause */
.text53{
  top: 15%;
  right: 25%;
}

/* jz-play */
.text54{
  top: 32.5%;
  right: 6%;
  transform: rotate(8deg);
}

/* jz-info */
.text55{
  top: 26%;
  left: 18%;
  transform: rotate(8deg);
}

/* jz-dbl-ck */
.text56{
  bottom: 16.5%;
  right: 32%;
}

/* jz-copy */
.text57{
  top: 30%;
  left: 6.5%;
}

/* jz-clipboard */
.text58{
  bottom: 22.5%;
  right: 16%;
  transform: rotate(5.5deg);
}

/* data-icone */
.text59{
  bottom: 38%;
  right: -6%;
}

/* data-icone */
.text60{
  bottom: 45%;
  left: -6%;
}

/* data-icone */
.text61{
  top: 11.5%;
  right: 37.5%;
  transform: rotate(-5deg);  
}

/* dataset.icone */
.text62{
  top: 4%;
  right: 20%;
  transform: rotate(5deg);
}

/* dataIcon */
.text63{
  bottom: 50%;
  right: 2.5%;
  transform: rotate(-8deg);
}

/* :first-child */
.text64{
  top: 38%;
  left: 6.5%;
  transform: rotate(-8deg);
  color: var(--pseudoClases);
  /* color: rgba(0, 242, 112, 0.15); */
}

/* :last-child */
.text65{
  color: var(--pseudoClases);
  top: 20%;
  right: 6%;
}

/* :nth-of-type(z) */
.text66{
  color: var(--pseudoClases);
  bottom: 9.5%;
  right: 36%;
}

/* z */
.text67{
  top: 14%;
  right: 20.5%;
}

/* z */
.text68{
  bottom: 35%;
  left: 25%;
}

/* z */
.text69{
  bottom: 10%;
  right: 5%;
}

/* z */
.text70{
  top: 20%;
  left: 12%;
}

@media screen and (max-width: 750px){
  
  .contentTitulo{
    width: 360px;
  }
  
  .titulo{
    margin-top: 18%;
  }
  
  .text7,
  .text8,
  .text11,
  .text12,
  .text13,
  .text18,
  .text19,
  .text20,
  .text21,
  .text22,
  .text33,
  .text39,
  .text43,
  .text44,
  .text46,
  .text49,
  .text55,
  .text62,
  .text63,
  .text64,
  .text65,
  .text66{
    display: none;
  }  
  
  .text2{
    right: 30%;
  }
  
  .text3{
    right: -5%;
  }
  
  .text4{
    bottom: 8%;
    left: 8%;
  }
  
  .text5{
    bottom: 28%;
  }
  
  .text10{
    right: 18%;
  }
  
  .text12{
    bottom: 16%;
    left: 18%;
  }
  
  .text13{
    bottom: 6.5%;
    right: 16%;
  }
  
  .text16{
    right: 46%;
  }
  
  .text24{
    bottom: 16.8%;
    left: -12%;
  }
  
  .text30{
    bottom: 3.6%;
    left: 28%;
  }
  
  .text31{
    bottom: 82.5%;
    right: 92%;
  }
  
  .text32{
    bottom: 14.5%;
    right: 12%;
  }
  
  .text34{
    bottom: 2.6%;
  }
  
  .text35{
    top: 4.5%;
  }
  
  .text37{
    top: 12.5%;
    left: 22.5%;
    transform: rotate(-15deg);
  }
  
  .text40{
    top: 2%;
    left: 25%;
  }
  
  .text41{
    top: 20%;
    right: 82.5%;
  }
  
  .text42{
    top: 86.5%;
    right: 22.5%;
  }
  
  .text45{
    top: 70%;
  }
  
  .text47{
    top: 46.8%;
    left: 85%;
  }
  
  .text48{
    top: 80%;
  }
  
  .text55{
    top: 28%;
  }
  
  .text57{
    top: 34%;
    left: 8.5%;
  }
  
  .text60{
    left: -10%;
  }
  
  .text61{
    top: 8%;
    right: 32.5%;
  }
  
  .text64{
    top: 42%;
  }
  
  .text67{
    top: 6%;
    right: 25%;
  }
  
  .text68{
    bottom: 0.8%;
    left: 18%;
  }
  
  .text70{
    top: 18%;
    left: 55%;
  }
  
}

@media screen and (max-width: 525px){
  
  .titulo{
    font-size: 55px;
  }
  
  .text9,
  .text10,
  .text29,
  .text51,
  .text52,
  .text54,
  .text57,
  .text58,
  .text61{
    display: none;
  }
  
  .text15{
    top: 24%;
  }
  
  .text16{
    right: 32%;
  }
  
  .text17{
    left: -3%;
  }
  
  .text23{
    right: -16%;
  }
  
  .text24{
    left: -16%;
  }
  
  .text25{
    left: 36%;
  }
  
  .text27{
    bottom: 18.5%;
    right: 28%;
    transform: rotate(7.5deg);
  }

  .text28{
    left: -5%;
  }
  
  .text29{
    left: 8%;
  }
  
  .text30{
    bottom: 0.25%;
    left: 33%;
  }
  
  .text35{
    top: 2.5%;
    right: 5%;
  }
  
  .text36{
    bottom: 20%;
    left: 40%;
    transform: rotate(5deg);
  }
  
  .text42{
    top: 88%;
    right: 19%;
    transform: rotate(0deg);
  }
  
  .text47{
    top: 42%;
    right: -1.6%;
    transform: rotate(-90deg);
  }
  
  .text50{
    top: 20%;
    right: 12%;
    transform: rotate(0deg);
  }
  
  .text53{
    top: 13%;
  }
  
  .text56{
    bottom: 10%;
    right: 40%;
  }
  
  .text59{
    right: -13.5%;
  }
  
  .text69{
    bottom: 52%;
    right: 90%;
  }
  
  .text70{
    top: 21.25%;
    left: 58%;
  }
  
}

@media screen and (max-width: 450px){
  
  .contentTitulo{
    width: 80vw;
  }
  
  .titulo{
    margin-top: 20%;
  }
  
  .text5,
  .text31,
  .text45,
  .text48{
    display: none;
  }
  
  .text6{
    top: 10%;
    left: 4%;
  }
  
  .text36{
    left: 32%;
  }
  
  .text41{
    top: 18%;
  }
  
  .text60{
    left: -14%;
  }
  
}

@media screen and (max-width: 420px){
  
  .contentTitulo{
    height: 200px;
  }
  
  .titulo{
    margin-top: 20%;
    font-size: 50px;
  }
  
  .text40,
  .text59,
  .text60{
    display: none;
  }  
  
  .text4{
    bottom: 10%;
    left: 1.5%;
  }
  
  .text6{
    top: 8%; 
    left: 5%;
    transform: rotate(-12deg);
  }
  
  .text14{
    left: 34%;
  }
  
  .text17{
    bottom: 34%;
  }
  
  .text23{
    right: -20.5%;
  }
  
  .text24{
    left: -18%;
    bottom: 20%;
  }
  
  .text28{
    top: 32%;
  }
  
  .text37{
    top: 14.5%;
    transform: rotate(0deg);
  }
  
  .text38{
    top: 22%;
    left: 30%;
  }
  
  .text47{
    top: 48%;
    right: -4.5%;
  }
  
  .text68{
    left: 22%;
  }
  
  .text69{
    bottom: 48%;
    right: 94%;
  }
  
}

@media screen and (max-width: 380px){
  
  .contentTitulo{
    height: 190px;
  }
  
  .titulo{
    margin-top: 22%;
    font-size: 45px;
  }
  
  .text4,
  .text6,
  .text23,
  .text24,
  .text67{
    display: none;
  }
  
  .text14{
    top: 4%;
  }
  
  .text15{
    top: 35%;
    right: -4%;
  }
  
  .text25{
    top: 12%;
  }
  
  .text26{
    bottom: 14%;
  }
  
  .text27{
    right: 46.8%;
  }
  
  .text30{
    left: 25%;
  }
  
  .text32{
    bottom: 20%;
    right: 20%;
    transform: rotate(-15deg); 
  }
  
  .text36{
    left: 5%;
  }
  
  .text37{
    top: 10%;
    left: 12%;
  }
  
  .text42{
    top: 85.5%;
    right: 25%;
  }
  
  .text47{
    top: 55%;
  }
  
  .text50{
    top: 22%;
    right: 6%;
  }
  
  .text53{
    right: 14%;
  }
  
  .text56{
    right: 50%;
  }
  
  .text68{
    bottom: 12%;
    left: 8%;
  }
  
}