.textoAtajo {
  margin: 0;
  margin-bottom: 2rem;
}

.section--iconos {
  padding: 0 2rem;
}

.ejemplo__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  position: relative;
}

.ejemplo__iconoCopy {
  --size-iconejz: 2.6rem;
  --color-iconejz: #29FFAA;
  --border-radius-iconejz: 0.2rem;
  margin-left: 0.65rem;
}

.ejemplo__input {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  outline: none;
  user-select: none; 
  background-color: transparent;
}

.ejemplo__iconoPlay {
  margin-left: 2.5rem;
}

.ejemploIconos__contenedor {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  align-items: center;
}

/* @mediaQueries */
@media screen and (max-width: 720px) {
  
  .card__iconoResultado {
    --size-iconejz: 4.5em;
  }
  
  .card__contenido {
    grid-template-columns: 1fr 3.5fr 1fr 1fr;
  }
  
}

@media screen and (max-width: 620px) {
  
  .contentCode {
    padding: 1rem;
    font-size: 1.3rem;
  }
  
  .contentElement {
    font-size: 1.35rem;
  }
  
  .card__subtitulo {
    font-size: 1.68rem;
  }
  
}

@media screen and (max-width: 580px) {
  
  card-icono {
    margin-bottom: 2rem;
  }
  
  .section--iconos {
    padding: 0;
  }
  
  .contentCode {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 540px) {
  
  card-icono {
    font-size: 0.8rem;
  }
  
  .contentCode {
    font-size: 1.05rem;
  }

}

@media screen and (max-width: 470px) {
  
  .contentCode {
    font-size: 0.95rem;
  }

}

@media screen and (max-width: 400px) {
  
  .card__contenido {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
  }

}