:root{
  --text: #F3F3F3;
  --const-let: #9500FF;
  --objeto: #FFBE29;
  --metodo: #00CEFF;
  --string: #29FF00;
  --comentario: #868686;
  --identacion: #555;
}

.ejemplo-JS1 {
  margin: 0;
}

.contentCode{
  color: var(--text);
  border-radius: 2px;
  font-size: 14px;
  padding: 10px 16px;
  background-color: #000;
  display: inline-block;
}

.contentCode,
.contentCode *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contentCode::selection,
.contentCode *::selection{
  color: var(--metodo);
  background-color: darkgray;
}

.const_let {
  color: var(--const-let);
  font-weight: bold;
}

.objeto {
  color: var(--objeto);
}

.metodo {
  color: var(--metodo);
}

.string {
  color: var(--string);
}

.comentario {
  color: var(--comentario);
  font-style: italic;
}

.identacion {
  color: var(--identacion);
}