:root{
  --nombreSelector: #9500FF;
  --nombrePropiedad: #FFBE29;
  --valorPropiedad: #29FFAA;
}

.contentRegla-content{
  min-width: 250px;
  color: #fff;
  padding: 8px;
  background-color: #000;
  border-radius: 2.5px;
  display: inline-block;
}

.contentRegla::selection,
.contentRegla *::selection{
  color: var(--valorPropiedad);
  background-color: darkgray;
}

.nombreSelector{
  color: var(--nombreSelector);
}

.nombrePropiedad{
  color: var(--nombrePropiedad);
}

.valorPropiedad{
  color: var(--valorPropiedad);
}