.alertMensaje {
  --color-mensaje: #E3E3E3;
  --tiempo-transicion: 0.5s;
  
  color: var(--color-mensaje);
  margin: 0;
  padding: 0.5rem 1.2rem 0.8rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: fixed;
  bottom: 2.5%;
  z-index: 6;
  font-style: italic;
  border-radius: 0.5rem;
  background-color: #000;
  transform: scale(0);
}

.alertMensaje.on,
.alertMensaje.off {
  transition: transform var(--tiempo-transicion) linear;
}

.alertMensaje.on {
  transform: scale(1);
}

.alertMensaje.off {
  transform: scale(0);
}

.alertMensaje__texto {
  transform: translateY(-0.25rem);
}